//*-*-*-*-*-*-*-*-*-*-- The 1300px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-desktop {
  @media screen and (min-width: break-point(break-point-desktop)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 600px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-medium {
  @media screen and (max-width: break-point(break-point-medium)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 400px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}
// *-*-*-*-*-*--*-*-*-*-*-*-*-*---------------------------------*-*-*-*-*-*-*--*-*-*--*-*-*-*-*-*-*-*

::selection {
  background-color: var(--color-primary);
}

@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.header";
@import "5.showcase";
@import "6.about";
@import "7.projects";
@import "8.skills";
@import "11.contact";
@import "12.footer";

// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*- Placeholder Styles *-*-*-*-*-*-*-*-*-*-*-*-*
// Background Properties
%bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Section Padding
%sec-padding {
  padding: 6vh 4vw;
}

// Styles for Section headings (h2)
%sec-heading {
  font-size: font-size(font-size-medium);
  font-weight: font-weight(font-weight-light);
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
}

// Styles for Section paragraphs (p)
%sec-para {
  font-size: font-size(font-size-small);
  color: var(--color-quinary);
  font-family: "Balsamiq Sans", cursive;
  letter-spacing: 0.2rem;
}

//Styles for Section h3
%sec-h3 {
  font-size: font-size(font-size-small);
  color: var(--color-quinary);
}

//Styles for Section h4
%sec-h4 {
  color: var(--color-quinary);
}

//************************** Scroll to top button *******************
.scroll {
  position: fixed;
  bottom: 70rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  background-image: url("../img/scroll/scroll.svg");
  background-repeat: no-repeat;
  background-color: var(--color-secondary-m);
  background-size: contain;
  background-position: center;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.scroll.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}
// alert
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
.alert--info {
  background-color: var(--color-secondary);
}

.buttons {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

//*-*-*-*-*-*- Dark Mode Smooth Transition For All HTML Elements -*-*-*-*-*-*-*
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}
